@import "../custom.scss";
.InfoComponent {
	@media (min-width: 1440px) {
		button {
			width: 10.4rem;
		}
	}
	@media (max-width: 1439px) {
		button {
			width: 9.4rem;
		}
		.ilustrationImg {
			height: 251px;
			width: auto;
		}
		h1 {
			letter-spacing: -0.001rem !important;
			line-height: 1.4;
		}
		h1 + p {
			font-size: 15px;
			line-height: 1.7;
		}
	}
	button {
		font-size: 13px;
		height: 3rem;
		letter-spacing: 0.06rem;
	}
	button:hover {
		background-color: white;
		color: $primary;
	}
	button:hover.btn-light {
		background-color: white;
		color: black;
		border-color: black;
	}
}
