@import "./custom.scss";
.App {
	overflow: hidden;
	position: relative;
	font-size: 18px;
	font-family: "Rubik";
	font-style: normal;
	box-sizing: border-box;
	padding: 0 !important;
	h1 {
		letter-spacing: 0.1rem;
	}
	.btnMoreInfo {
		font-size: 13px;
		height: 3rem;
		width: 7rem;
		letter-spacing: 0.06rem;
	}
	.btnMoreInfo:hover {
		background-color: white;
		color: $primary;
	}
	p {
		white-space: pre-line;
		color: $info;
	}
	@media (min-width: 1440px) {
		.roundedShapeRight,
		.roundedShapeLeft {
			height: 352px;
		}
		.roundedShapeRight {
			width: 515px;
			top: 336px;
			border-top-left-radius: 176px;
			border-bottom-left-radius: 176px;
		}
		.roundedShapeLeft {
			width: 640px;
			top: 1196px;
			border-top-right-radius: 176px;
			border-bottom-right-radius: 176px;
		}
	}
	@media (max-width: 1439px) {
		.roundedShapeRight,
		.roundedShapeLeft {
			height: 203px;
		}
		.roundedShapeRight {
			width: 304px;
			top: 197px;
			border-top-left-radius: 102px;
			border-bottom-left-radius: 102px;
		}
		.roundedShapeLeft {
			width: 308px;
			top: 1338px;
			border-top-right-radius: 102px;
			border-bottom-right-radius: 102px;
		}
	}
	.roundedShapeRight,
	.roundedShapeLeft {
		background-color: $primary;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.roundedShapeRight {
		right: 0;
	}
	.roundedShapeLeft {
		left: 0;
	}
}
